{% extends "./outerLayout.njk" %}

{% block page %}
    {% block header %}
        {% include '../partials/header.njk' %}
    {% endblock %}

    <div class="page-wrapper">
        {% block pageBody %}{% endblock %}
    </div>

    {% block footer %}
        {% include '../partials/footer.njk' %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="js/unbundled-example.min.js"></script>
{% endblock %}

